* {
    margin: 0;
    padding: 0;
    font-family: "Montserrant", sans-serif;
    box-sizing: border-box;
}

/*Seletor para editar configurações que o navegador nos dá como configurações padrões.*/

html,
body {
    height: 100%;
    background-image: url(../imagens/quadradinhos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Seletor da Div com class corpo*/
.corpo{
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    border-radius: 35px;
    background-color: linear-gradient(to top left, #030e4e, #ad13e2);
    margin: 0 auto;
    width: 30%;
    height: 400px;
}

.corpo h2{
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}

.corpo h2::after{
    content: '';
    display: block;
    margin: 10px auto;
    border-radius: 3px solid #ffffff;
    width: 25%;
    
}